<ion-app>
  <ion-content>
    <h2 align="center">Simulador de Empréstimos</h2>
    <ion-item>
      <ion-label position="floating">Valor do Empréstimo</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Taxa de Juros</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Parcelas</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-button color="success" expand="block">
      <ion-icon name="cash-outline"></ion-icon>
      Simular Émprestimo
    </ion-button>
  </ion-content>
</ion-app>
